<footer class="bg-dark py-4 mt-auto">
    <section class="footer-info">
        <div class="footer-info-apps" style="text-align:center">
            <img src="~/imagen/logo.png" style="height:60px; text-align:center" />
            <p>Empresa de desarrollo de aplicaciones móviles y web, y diseño de páginas web y tiendas online en Colombia</p>
        </div>
        <div class="footer-info--service">
            <h3>Servicios</h3>
            <ul class="footer-list--service">
                <li>Aplicaciones móviles</li>
                <li>Aplicaciones web</li>
                <li>Diseño UI/UX</li>
                <li>Tiendas Online</li>
            </ul>
        </div>
        <div class="footer-info--contacts">
            <h3>Contacto</h3>
            <ul class="footer-list--contacts">
                <li>3166288362</li>
                <li>sbarona@poligran.edu.co</li>
            </ul>
            <ul class="list-contacts--networks footer-contacts--networks">
                <li><a href=""><img src="~/icons/logo-whatsapp 2.svg" alt="Icono whatsapp"></a></li>
                <li><a href=""><img src="~/icons/logo-facebook-white.svg" alt="Icono facebook"></a></li>
                <li><a href=""><img src="~/icons/logo-instagram-white.svg" alt="Icono instagram"></a></li>
                <li><a href=""><img src="~/icons/logo-twitter-white.svg" alt="Icono twitter"></a></li>
                <li><a href=""><img src="~/icons/logo-linkedin-white.svg" alt="Icono linkedin"></a></li>
            </ul>
        </div>
    </section>
    <p class="footer-copyright">Copyright 2024 Tecno Apps | Todos los derechos reservados</p>

</footer>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js">

</script>


<style>

    .list-contacts {
        width: 100%;
        text-align: center;
    }

    .list-contacts--tittle {
        font-size: 4rem;
        margin-top: 24px;
    }

    .contacts-email--admin,
    .contacts-phone--admin,
    .text-list-contacts {
        font-size: 2.6rem;
    }

    .list-contacts--networks {
        list-style: none;
        display: flex;
        justify-content: center;
    }

        .list-contacts--networks li {
            margin: 14px;
        }

    /* Estilos Footer */
    footer {
        background-color: var(--gray-header);
        color: white;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 34px;
        font-size: 1.6rem;
    }

    .footer-info-apps p {
        width: 381px;
        text-align: center;
        margin-top: 34px;
    }

    .footer-info--service h3,
    .footer-info--contacts h3 {
        font-size: 3rem;
        text-align: center;
    }

    .footer-list--service,
    .footer-list--contacts {
        list-style: none;
        text-align: center;
    }

        .footer-list--service li,
        .footer-list--contacts li {
            margin: 24px 0;
        }

    .footer-copyright {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 8px;
    }
</style>