@page
@model TecnoApps.Pages.Nosotros.NosotrosModel
@{
}

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">

                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/imagen/icon.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">¿Quienes somos?</h2>
                <p class="lead fw-normal text-muted mb-0">Somos una empresa especializada en el desarrollo de aplicaciones móviles y web y el diseño de páginas web y tiendas online. Adaptamos nuestra tecnología para estar alineados con las tendencias más recientes, asegurando un nivel de calidad y experiencia de usuario excepcionales para nuestros clientes.</p>
                <button class="btn btn-outline-primary m-3">Contáctanos</button>
            </div>
        </div>
    </div>
</section>
<div class="row gx-5 d-flex align-items-center text-center">
    <div class="col-lg-12">
        <h1 class="fw-bolder"><ins> Misión</ins></h1>
    </div>
</div>
<!-- Mision-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
            </div>
            <div class="col-lg-6">

                <p class="lead fw-normal text-muted mb-0">Nuestra misión es impulsar la innovación tecnológica y mejorar la vida de las personas a través de soluciones digitales a medida. Nos comprometemos a ofrecer productos y servicios de la más alta calidad, centrados en las necesidades y objetivos de nuestros clientes. Trabajamos en estrecha colaboración con ellos para convertir sus ideas en realidad y superar constantemente sus expectativas.</p>
            </div>
        </div>
    </div>
</section>
<div class="row gx-5 d-flex align-items-center text-center">
    <div class="col-lg-12">
        <h1 class="fw-bolder"><ins> Visión</ins></h1>
    </div>
</div>
<!-- Vision-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">

                <p class="lead fw-normal text-muted mb-0">Nuestra visión es convertirnos en líderes reconocidos en el desarrollo de aplicaciones móviles y web, destacando por nuestra creatividad, calidad y compromiso con la excelencia. Aspiramos a ser la opción preferida de empresas y emprendedores que buscan soluciones digitales innovadoras y confiables para alcanzar el éxito en un mundo cada vez más conectado.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder"><ins> Valores</ins> </h1>

        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Excelencia-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body text-center p-3">
                        <h4 class="text-uppercase fw-bold text-muted">Excelencia</h4>
                        <div class="mb-3 ">
                            <p>
                                En todo lo que hacemos, buscamos la excelencia en la calidad de nuestros servicios y productos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Innovación-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 ">
                    <div class="card-body text-center p-3">
                        <h4 class="text-uppercase fw-bold text-muted">Innovación</h4>
                        <div class="mb-3 ">
                            <p>
                                Apostamos por la investigación y el desarrollo de nuevas tecnologías para ofrecer soluciones vanguardistas a nuestros clientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Compromiso-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 ">
                    <div class="card-body text-center p-3">
                        <h4 class="text-uppercase fw-bold text-muted">Compromiso</h4>
                        <div class="mb-3 ">
                            <p>
                                Nos comprometemos con el éxito de nuestros clientes, acompañándolos en todo el proceso de desarrollo de sus proyectos digitales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Profesionalismo-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 ">
                    <div class="card-body text-center p-3">
                        <h4 class="text-uppercase fw-bold text-muted">Profesionalismo</h4>
                        <div class="mb-3 ">
                            <p>
                                Contamos con un equipo altamente cualificado y apasionado por su trabajo, que ofrece un servicio integral y personalizado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Confianza-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 ">
                    <div class="card-body text-center p-3">
                        <h4 class="text-uppercase fw-bold text-muted">Confianza</h4>
                        <div class="mb-3 ">
                            <p>
                                Construimos relaciones duraderas con nuestros clientes basadas en la confianza, la transparencia y la comunicación efectiva.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row gx-5 d-flex align-items-center text-center">
    <div class="col-lg-12">
        <h1 class="fw-bolder"><ins> Equipo</ins></h1>
    </div>
</div>
<!-- Equipo-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <div class="d-flex m-3 p-3 border border-secondary rounded-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">
                            Sara Juliana Barona Nicholls
                        </div>
                        es una desarrolladora frontend apasionada por la creación de experiencias de usuario excepcionales. Con experiencia en tecnologías como HTML, CSS y JavaScript, se especializa en la creación de interfaces intuitivas y atractivas para aplicaciones web y móviles.
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="d-flex m-3 p-3 border border-secondary rounded-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">
                            Cristian Jaramillo Medina
                        </div>
                        es un desarrollador backend altamente capacitado con experiencia en la creación de robustas API y sistemas escalables. Es experto en lenguajes como Python, PHP y Java, y está comprometido con la creación de soluciones tecnológicas eficientes y seguras.
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="d-flex m-3 p-3 border border-secondary rounded-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3 ">
                        <div class="fw-bold">
                            Kevin Gonzalez Gallego
                        </div>
                        es un especialista en marketing digital con experiencia en estrategias de SEO, SEM y redes sociales. Está comprometido en ayudar a las empresas a mejorar su presencia en línea y a alcanzar sus objetivos de marketing a través de campañas efectivas y medibles.
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="d-flex m-3 p-3 border border-secondary rounded-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">
                            Jhonnatan Alfredo Gomez Torres
                        </div>
                        es un experto en seguridad informática con un profundo conocimiento de las mejores prácticas y tecnologías de ciberseguridad. Se especializa en la identificación y mitigación de riesgos de seguridad, así como en la implementación de medidas de protección para sistemas informáticos.
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="d-flex m-3 p-3 border border-secondary rounded-3">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">
                            Geraldine Gomez Romero
                        </div>
                        es una diseñadora UX/UI creativa y enfocada en el usuario, con experiencia en la creación de interfaces atractivas y funcionales. Se especializa en la investigación de usuarios, prototipado y diseño de experiencia de usuario para aplicaciones web y móviles.
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
