@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
@* este es el encabezado de la pagina  *@
<header class=" py-5 hea">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">

            <div class="col-lg-12 col-xl-12 col-xxl-12">
                <h1 class="display-5 fw-bolder text-black mb-2">TecnoApps Tu aliado digital para impulsar tu negocio</h1>
            </div>
            <div class="col-lg-5 col-xl-5 col-xxl-5">
                <div class="my-5 text-left text-xl-start ">
                    <p class="lead fw-normal fs-3 text-black-60 mb-4">
                        Somos una empresa especializada en el desarrollo de soluciones digitales a medida,
                        con un equipo altamente cualificado y apasionado por su trabajo. No esperes màs y lleva tu negocio
                        al siguiente nivel con TecnoApps.
                    </p>

                </div>
            </div>
            <div class="col-xl-7 col-xxl-7 d-none d-xl-block text-center">
                <div class="row">

                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Necesitas una aplicación móvil que revoluciones tu sector?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Quieres una pagina web moderna y atractiva?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Deseas una tienda onlineque impulse tus ventas?
                    </div>
                    <div class="col-12 bg-info-subtle p-2 m-3 rounded-3 shadow fs-5">
                        ¿Necesitas orientación tecnologicas para tu proyecto?
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-12 col-xxl-12">
                <div class="d-grid gap-3  justify-content-sm-center justify-content-xl-center ">
                    <p class="fs-4 m-0">
                        ¡TecnoApps es la solución prefecta para ti!
                    </p>
                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Servicios section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-12">
                <h2 class="fw-bolder mb-0"><ins>Nuestros servicios</ins></h2>
                <p class="fs-4 mb-0">En TecnoApps ofrecemos una amplia gama de servicios, ya sea que necesites una aplicación móvil atractiva, un sitio web dinámico o una interfaz de usuario intuitiva, nuestro equipo cuenta con las habilidades y la experiencia para hacer realidad tus ideas y superar tus expectativas. </p>
            </div>

            <div class="col-lg-12">
                <div class="row ">

                    <div class="col-sm-6 col-md-6 col-lg-6  ">
                        <div class="d-flex align-items-center flex-column rounded-start-5 m-4"
                             style="background-color:#fbbe01; min-height:650px">
                            <h3 class="pt-3">Desarrollo de apps móviles</h3>

                            <img src="~/imagen/desarrollo apps.jpg" style="width:400px" class="rounded-5" />
                            <p class="p-4 mb-0">Nuestro equipo está capacitado para crear aplicaciones móviles de primera clase para Android, iOS, híbridas y multiplataforma. Ya sea que estés buscando una aplicación para impulsar tu negocio o una experiencia móvil única para tus usuarios, estamos aquí para ayudarte a alcanzar tus metas. </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6  ">
                        <div class="d-flex align-items-center flex-column rounded-end-5 m-4" style="background-color:#61bfe5; min-height:650px">
                            <h3 class="pt-3">
                                Desarrollo web</h3>
                                <img src="~/imagen/desarrollo web.jpg" style="width:400px" class="rounded-5" />
                                <p class="p-4 mb-0">Construimos aplicaciones web robustas y escalables que ofrecen una experiencia de usuario excepcional en todos los dispositivos y navegadores. Nuestro enfoque centrado en el usuario garantiza que tus visitantes tengan una experiencia fluida y atractiva en línea. </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6  ">
                        <div class="d-flex align-items-center flex-column rounded-start-5 m-4" style="background-color:#61bfe5; min-height:650px">
                            <h3 class="pt-3">Diseño UI/UX</h3>
                            <img src="~/imagen/desarrollo web.jpg" style="width:400px" class="rounded-5" />
                            <p class=" p-4 mb-0">Nos especializamos en el diseño de interfaces de usuario intuitivas y atractivas que hacen que tus aplicaciones y sitios web destaquen entre la multitud. Nuestro enfoque en la experiencia del usuario garantiza que cada interacción sea fluida, eficiente y memorable para tus usuarios. </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6  ">
                        <div class="d-flex align-items-center flex-column rounded-end-5 m-4"
                             style="background-color:#fbbe01; min-height:650px">
                            <h3 class="pt-3">Tienda online</h3>

                            <img src="~/imagen/desarrollo apps.jpg" style="width:400px" class="rounded-5" />
                            <p class="p-4 mb-0">Creamos plataformas de comercio electrónico completas y fáciles de usar que te permiten llevar tu negocio al mundo digital. Desde la creación de una tienda virtual atractiva hasta la integración de herramientas de gestión de inventario y sistemas de pago seguros, nos encargamos de todos los aspectos para que puedas vender tus productos en línea con confianza y eficiencia. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light overflow-auto" style="max-height:400px">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <h3 class="fw-bolder mb-4"><ins>Testimonios de nuestros clientes </ins></h3>
            <div class="col-lg-10 col-xl-9 mb-5">
                <div class="text-center">
                    <div class="fs-5 mb-4 fst-italic">"Estoy impresionado con el servicio de TecnoApps. Su equipo fue increíblemente receptivo a mis necesidades y desarrollaron una aplicación móvil que superó mis expectativas. ¡Gracias a ellos, mi negocio ha experimentado un aumento significativo en las descargas y la interacción del usuario! Definitivamente los recomendaría a cualquiera que esté buscando soluciones digitales de calidad."</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                        <div class="fw-bold">
                            Juan Pérez 

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-xl-9 mb-5">
                <div class="text-center">
                    <div class="fs-5 mb-4 fst-italic">"¡El equipo de TecnoApps hizo un trabajo excepcional con nuestro sitio web! Estaba buscando una plataforma dinámica y fácil de usar para mi empresa de marketing, y ellos entregaron exactamente eso. La comunicación fue clara y fluida durante todo el proceso, y estoy muy contenta con el resultado final. ¡Gracias, TecnoApps!"</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                        <div class="fw-bold">
                            María Rodríguez
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-xl-9 mb-5">
                <div class="text-center">
                    <div class="fs-5 mb-4 fst-italic">"Contratamos a TecnoApps para diseñar nuestra nueva interfaz de usuario y quedamos muy impresionados con su profesionalismo y habilidades creativas. El equipo comprendió perfectamente nuestras necesidades y nos proporcionó un diseño moderno y funcional que ha recibido elogios de nuestros clientes. ¡Definitivamente volveremos a trabajar con ellos en el futuro!"</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                        <div class="fw-bold">
                            Luis Gómez
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accion section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5">
                <div class="my-5 text-left text-xl-start ">
                    <p class="lead fw-normal fs-3 text-black-60 mb-4">
                        ¿Ya eres nuestro cliente? Ingresa al portal de clientes para que puedas acceder a todos los productos y servicios que tienes contratados con TecnoApps.
                    </p>

                </div>
                <div class=" d-flex  justify-content-sm-center justify-content-xl-center ">
                   
                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Portal clientes</a>

                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="my-5 text-left text-xl-start ">
                    <p class="lead fw-normal fs-3 text-black-60 mb-4">
                        ¿Deseas ser nuestro cliente? contáctanos y regístrate para que para que comiences a disfrutar de todos los beneficios y soluciones que ofrecemos en TecnoApps.
                    </p>

                </div>
                <div class=" d-flex justify-content-sm-center justify-content-xl-center ">
                  
                    <a class="btn btn-primary btn-lg m-3" href="#features">Contactanos</a>
                    <a class="btn btn-primary btn-lg m-3" href="#features">Registrate</a>
                </div>
            </div>
        </div>
    </div>
</section>


@* <section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">From our blog</h2>
                    <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Blog post title</h5></a>
                        <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">Kelly Rowan</div>
                                    <div class="text-muted">March 12, 2023 &middot; 6 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                        <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">Josiah Barclay</div>
                                    <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The last blog post title is a little bit longer than the others</h5></a>
                        <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">Evelyn Martinez</div>
                                    <div class="text-muted">April 2, 2023 &middot; 10 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                    <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside>
    </div>
</section> *@




<style>
    .hea {
        background: url("../imagen/fondo.png");
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
